HELP.md
.gradle
build/
dto/build
application/build
/dto/build
/application/build
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### Swagger ###
!swagger-output
!swagger.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

*.java.hsp
*.sonarj
*.sw*
.DS_Store
bin
build.sh
integration-repo
ivy-cache
jxl.log
jmx.log
derby.log
spring-test/test-output/
.gradle
argfile*
pom.xml
activemq-data/

classes/
/build
buildSrc/build
/spring-*/build
/spring-core/kotlin-coroutines/build
/framework-bom/build
/integration-tests/build
/src/asciidoc/build
target/

# Eclipse artifacts, including WTP generated manifests
spring-*/src/main/java/META-INF/MANIFEST.MF

# IDEA artifacts and output dirs
out
test-output
atlassian-ide-plugin.xml
.gradletasknamecache

# VS Code
.vscode/
### VS Code ###
.vscode/
